<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulusofona.cm.mobilegarage">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/appTheme">
        <activity android:name=".ui.activities.ContactsActivity"></activity>
        <activity android:name=".ui.activities.AppActivity" ></activity>
        <activity android:name=".ui.activities.SplashScreenActivity">

            <!-- <activity android:name=".mvvm.view.activity.SplashScreenActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>